@import 'tailwindcss';

@theme {
	/* Colors */
	--color-blackA1: hsla(0, 0%, 0%, 0.012);
	--color-blackA2: hsla(0, 0%, 0%, 0.027);
	--color-blackA3: hsla(0, 0%, 0%, 0.047);
	--color-blackA4: hsla(0, 0%, 0%, 0.071);
	--color-blackA5: hsla(0, 0%, 0%, 0.09);
	--color-blackA6: hsla(0, 0%, 0%, 0.114);
	--color-blackA7: hsla(0, 0%, 0%, 0.141);
	--color-blackA8: hsla(0, 0%, 0%, 0.22);
	--color-blackA9: hsla(0, 0%, 0%, 0.439);
	--color-blackA10: hsla(0, 0%, 0%, 0.478);
	--color-blackA11: hsla(0, 0%, 0%, 0.565);
	--color-blackA12: hsla(0, 0%, 0%, 0.91);

	--color-mauve-1: #fdfcfd;
	--color-mauve-2: #faf9fb;
	--color-mauve-3: #f2eff3;
	--color-mauve-4: #eae7ec;
	--color-mauve-5: #e3dfe6;
	--color-mauve-6: #dbd8e0;
	--color-mauve-7: #d0cdd7;
	--color-mauve-8: #bcbac7;
	--color-mauve-9: #8e8c99;
	--color-mauve-10: #84828e;
	--color-mauve-11: #65636d;
	--color-mauve-12: #211f26;

	--color-violet-1: #fdfcfe;
	--color-violet-2: #faf8ff;
	--color-violet-3: #f4f0fe;
	--color-violet-4: #ebe4ff;
	--color-violet-5: #e1d9ff;
	--color-violet-6: #d4cafe;
	--color-violet-7: #c2b5f5;
	--color-violet-8: #aa99ec;
	--color-violet-9: #6e56cf;
	--color-violet-10: #654dc4;
	--color-violet-11: #6550b9;
	--color-violet-12: #2f265f;

	--color-red-1: #fffcfc;
	--color-red-2: #fff7f7;
	--color-red-3: #feebec;
	--color-red-4: #ffdbdc;
	--color-red-5: #ffcdce;
	--color-red-6: #fdbdbe;
	--color-red-7: #f4a9aa;
	--color-red-8: #eb8e90;
	--color-red-9: #e5484d;
	--color-red-10: #dc3e42;
	--color-red-11: #ce2c31;
	--color-red-12: #641723;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility editor-code {
	background-color: rgb(240, 242, 245);
	font-family: Menlo, Consolas, Monaco, monospace;
	display: block;
	padding: 8px 8px 8px 52px;
	line-height: 1.53;
	font-size: 13px;
	margin: 0;
	margin-top: 8px;
	margin-bottom: 8px;
	tab-size: 2;
	overflow-x: auto;
	position: relative;

	:before {
		content: attr(data-gutter);
		position: absolute;
		background-color: #eee;
		left: 0;
		top: 0;
		border-right: 1px solid #ccc;
		padding: 8px;
		color: #777;
		white-space: pre-wrap;
		text-align: right;
		min-width: 25px;
	}

	:after {
		content: attr(data-highlight-language);
		top: 0;
		right: 3px;
		padding: 3px;
		font-size: 10px;
		text-transform: uppercase;
		position: absolute;
		color: rgba(0, 0, 0, 0.5);
	}
}

@utility editor-heading-h1 {
	font-size: 24px;
	color: rgb(5, 5, 5);
	font-weight: 400;
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
}

@utility editor-heading-h2 {
	font-size: 15px;
	color: rgb(101, 103, 107);
	font-weight: 700;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	text-transform: uppercase;
}

@utility editor-link {
	color: rgb(33, 111, 219);
	text-decoration: none;
}

@utility editor-listitem {
	margin: 8px 32px 8px 32px;
}

@utility editor-nested-listitem {
	list-style-type: none;
}

@utility editor-list-ol {
	padding: 0;
	margin: 0;
	margin-left: 16px;
}

@utility editor-list-ul {
	padding: 0;
	margin: 0;
	margin-left: 16px;
}

@utility editor-paragraph {
	margin: 0;
	margin-bottom: 8px;
	position: relative;

	:last-child {
		margin-bottom: 0;
	}
}

@utility editor-quote {
	margin: 0;
	margin-left: 20px;
	font-size: 15px;
	color: rgb(101, 103, 107);
	border-left-color: rgb(206, 208, 212);
	border-left-width: 4px;
	border-left-style: solid;
	padding-left: 16px;
}

@utility editor-text-bold {
	font-weight: bold;
}

@utility editor-text-code {
	background-color: rgb(240, 242, 245);
	padding: 1px 0.25rem;
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 94%;
}

@utility editor-text-italic {
	font-style: italic;
}

@utility editor-text-underline {
	text-decoration: underline;
}

@utility editor-text-strikethrough {
	text-decoration: line-through;
}

@utility editor-text-underlineStrikethrough {
	text-decoration: underline line-through;
}

@utility root {
	isolation: isolate;
}
